# dependencies
/node_modules
/functions/node_modules

# testing
/coverage

# production
/build

# config
/src/data/config.json

# IDE files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
.idea/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase/

*.log

