service cloud.firestore {
  match /databases/{database}/documents {
    match /user_data/{userId} {
      allow read;
    }
    match /relations/{id} {
      allow read;
    }
  }
}
