html, body, .App {
  margin: 2vh 2vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-intro {
  font-size: large;
  margin: 5vh;
}

.Title {
  font-size: 5vh;
  color: #2A945E;
  margin: 10vh 0.5vh;
}

.UserRelations-section {
  margin: 2vh 0vw;
}

.Video {
  margin: 5vh 0vw;
  width: 96vw;
  height: 50vw;
}

.Youtube {
  width: 100%;
  height: 100%;
}