/*
 * TODO: don't just use a global stylesheet. Consider using something
 * like styled-components
 */

.Container {
  align-items: left;
  /* max-width: 40rem; */
  margin: auto;
}

.Splash {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.App-intro {
  font-size: large;
  margin: 5vh;
}

.Title {
  font-size: 5vh;
  margin: 10vh 0.5vh;
}

.UserRelations-section {
  margin: 2vh 0;
}

.Video {
  margin: 5vh 0;
  height: 50vw;
  max-height: 40vh;
}

.InviteButton {
  color: #fff;
  background-color: #2a945e;
  border-color: #2a945e;
  display: inline-block;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.InviteInput {
  max-width: 30rem;
  margin: 0.75rem 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}

/* TODO remove? */
.Video {
  width: 100%;
}

.InviteError {
  margin: 0.75rem 0;
  color: #d9534f;
}

.PageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
