html, body {
  margin: 2vh auto;
  height: 96vh;
  width: 96vw;
}

input, textarea {
  width: 100%;
  display: block
}

.Container {
  align-items: left;
  max-width: 40rem;
  margin: auto;
}

.Splash {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.App-intro {
  font-size: large;
  margin: 5vh;
}

.Green {
  color: #2A945E;
}

.Title {
  font-size: 5vh;
  margin: 10vh 0.5vh;
}

.UserRelations-section {
  margin: 2vh 0vw;
}

.Video {
  margin: 5vh 0vw;
  width: 96vw;
  height: 50vw;
}

.Youtube {
  width: 100%;
  height: 100%;
}

.InviteButton {
  color: #fff;
  background-color: #2A945E;
  border-color: #2A945E;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;  
}

.InviteInput {
  max-width: 30rem;
  margin: .75rem 0;
  padding: .5rem 0;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.InviteVideoContainer {
  width: 96vw;
}

.InviteVideoContainer .Video {
  width: 100%;
}

.InviteError {
  margin: .75rem 0;
  color: #d9534f;
}

.PageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MemberName {
  font-weight: 600;
  margin: 5px 0;
}

.MemberThumbnail {
  font-weight: 600;
  margin: 5px 0;
  height: 25px;
}

.SectionTitle {
  font-weight: 400;
}

.Grey {
  color: grey;
}

.ActionButton {
    background-color: #2A945E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a, a:visited, a:hover, a:active {
  text-decoration: inherit;
}
